<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cengiztoru.hmscorekits">

    <!--check network permissions-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--check wifi state-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HMSCoreKits">
        <activity
            android:name=".ui.ads_kit.InterstitialAdActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ads_kit.AdsKitActivity"
            android:exported="false" />
        <activity
            android:name=".ui.analytics_kit.AnalyticsKitActivity"
            android:exported="false" />
        <activity
            android:name=".ui.account_kit.AccountKitActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--    Dont send any network requests before obtaining users' authorization  -->
        <meta-data
            android:name="com.huawei.agconnect.AccessNetwork"
            android:value="false" />


        <!--  FOR ANALYTICS KIT-->
        <meta-data
            android:name="install_channel"
            android:value="AppGallery" />

        <activity android:name=".ui.ads_kit.BannerAdsActivity" />
        <activity android:name=".ui.ads_kit.RewardedAdActivity" />
    </application>

</manifest>